/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */
 /* .hero {
  display: flex;
  padding: 4rem 0;
  text-align: center;
  align-items: center;
  vertical-align: center;
  position: relative;
} */
/* .hero h1 {
  font-size: 3rem;
  padding-bottom: 1rem;
} */

.heroBannerTitle {
  font-size: 1.3em;
  padding-bottom: 1rem;
  font-weight: bold;
  /* margin-bottom: auto; */
  position: relative;
  
}

.heroSubtitle {
  font-size: 1.5em;
  font-weight: normal;
  margin-bottom: auto;
}

.heroCustomTagline {
  color: var(--ifm-color-primary);
  color: transparent;
  /* background: linear-gradient(90deg, #019eff  0%, #1fe61f 50%, #ffff3f 100%); */
  /* background: linear-gradient(90deg, #fbf8aa 0%, #00ffaa 50%, #1da1f2 100%); */
  background: linear-gradient(90deg, #1da1f2  10%, #00ff88 85%, #f6ff7f 100%);
  /* background: linear-gradient(90deg, #fffdd1 0%, #00ff84 50%, #1da1f2 100%); */
  -webkit-background-clip: text;
  background-clip: text;
}

.main {
  padding: 12px;
}

.heading {
  font-weight: bolder;
  font-size: 20px;
}

/* .contents {
  color: #ccc;
} */


.section {
  padding: 40px 0;
}


.heroBannerLogo {
  max-width: 30%;
  margin-top: 28px;
  width: 25rem;
  height: 25rem;
  animation-name: kit-in-the-box;
  float:right;
  height: auto;
  display: block;
  pointer-events: none;

}


.container {
  --ifm-container-width: 996px;
}


.heroBanner {
  padding: 10rem 0;
  text-align: left;
  position: relative;
  overflow: hidden;
  background-color: var(--ifm-site-dark);
  display: flex;
  /* clip-path: polygon(0 0, 100% 0, 100% calc(100% - 5.0vw), 0 100%); */
  height: 38rem;
}



@media (prefers-reduced-motion: no-preference) {
  .heroBannerLogo {
    animation: kit-in-the-box infinite 60s linear;
  }
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding-left: 12px;
    padding-right: 12px;
  }
}

/* .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
} */

.buttons {
  display: flex;
  /* justify-content: left; */
  width: fit-content;
  align-items: center;
  gap: 10px;
  margin-top: auto;
  border-radius: 5px;
  text-decoration: none !important;
  font-weight: bold;
}


.heroTitleTextHtml b {
  color: var(--ifm-color-primary);
  color: transparent;
  background: linear-gradient(90deg, #1da1f2  0%, #00ff88 50%, #f6ff7f 100%);
  background-clip: text;
}



.heroCustomSubTitleHtml b {
  color: var(--ifm-color-primary-dark);
  color: transparent;
  /* background: linear-gradient(90deg, #1da1f2 0%, #00ff88 50%, #cdd55c 100%); */
  background: linear-gradient(90deg, #f6ff7f 0%, #00ffaa 50%, #1da1f2 100%);
  -webkit-background-clip: text;
  background-clip: text;
}

.heroSubTitleTextHtml b {
  color: var(--ifm-color-primary-dark);
}

@keyframes kit-in-the-box {
  
  from {
    transform: rotate(360deg) scale(1.2);
  }

  to {
    transform: rotate(-360deg) scale(1.2);
  }
  
}