/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

 .section {
  padding: 1rem 0;
}

.sectionAlt {
  background-color: var(--ifm-color-emphasis-100);
}

.sectionInner {
  margin: 0 auto;
}

/* General Container */
.container {
  --ifm-container-width: 996px;
}

/* Hero Banner */
.heroBanner {
  padding: 8rem 0;
  overflow: hidden;
  text-align: left;
  position: relative;
  background-color: var(--ifm-site-dark);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 1px solid var(--spacehub-color-light);
  /* clip-path: polygon(0 0, 100% 0, 100% calc(100% - 6vw), 0 100%); */
}

/* Hero Logo */

/* Option1: Ease-in-out */

/* .heroLogo {
  width: auto;
  height: auto;
  float: right;
  display: flex;
  transition: transform 0.6s ease-in-out;
}

.heroLogo:hover {
  transform: scale(1.3) rotate(12deg);
} */

/* Option2: Rotating effect */
.heroLogo {
  width: auto;
  height: auto;
  float: right;
  display: flex;
  justify-content: flex-end; 
  animation: kit-in-the-box infinite 30s linear;
}

@keyframes kit-in-the-box {
  from {
    transform: rotate(360deg) scale(1.3);
  }
  to {
    transform: rotate(-360deg) scale(1.3);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .heroLogo {
    animation: kit-in-the-box infinite 60s linear;
  }
}

@media (max-width: 768px) {
  .heroLogo {
    justify-content: center;
    animation-duration: 30s;      
    /* transform: scale(0.5);           */
    height: 110px;
    width: 160px
  }
}


/*  */

.heroBannerTitle {
  font-size: 60px;
  font-weight: bold;
  margin: 2px 0 0.4rem;
}

@media (max-width: 768px) {
  .heroBannerTitle {
    /* padding: 1rem 0; */
    font-size: 50px;
    margin: 0.8px 0 0.2rem;
    
  }
}

.heroBannerTitleText {
  font-weight: bold;
  background: linear-gradient(
    -90deg,
    #8affff 0%,
    #1da1f2 50%,
    #b070ff 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* For future reference - Do not delete */

/* html[data-theme='dark'] .heroBannerTitleText {
  background: linear-gradient(
    90deg,
    #8affff 0%,
    #5ac8fa 50%,
    #b070ff  100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
} */

/* .heroBannerDescription {
  font-size: 22px;
}

@media (max-width: 786px) {
  .heroBannerDescription {
    font-size: 18px;
    white-space: normal;
  }
} */

.heroSubtitle {
  font-size: 24px;
  font-weight: 300;
}

@media (max-width: 768px) {
  .heroSubtitleText {
    font-size: 22px;
    white-space: normal;
  }
}

/* Hero Subtitle Text */
.heroSubTitleTextHtml {
  color: var(--ifm-color-emphasis) !important;
  text-align: start;
  font-size: 20px;
}

.heroSubTitleTextHtml b {
  color: var(--ifm-color-primary);
  font-size: 20px;
}

/* Call-to-Action Buttons */
.indexCtas {
  --ifm-button-size-multiplier: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 24px;
}

.indexCtas a,
.indexCtas a:hover {
  background-color: var(--ifm-site-dark) !important;
  color: #ffffff !important;
  border: 2px solid #1da1f2;
  transition: background-color 0.5s;
  border-radius: 12px;
  padding: 0.5rem 1.5rem;
}

.indexCtas a:last-of-type {
  margin: 0 0.75rem;
}

.indexCtas a:hover {
  color: #ffffff !important;
  background-color: #1da1f2 !important;
}

