/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

 /* .section {
  padding: 40px 0;
} */

/* .container {
  --ifm-container-width: 996px;
} */

.heroBanner {
  padding: 6rem 0;
  overflow: hidden;
  text-align: left;
  position: relative;
  /* margin: 0 auto; */
  background-color: var(--ifm-site-dark);
  display: flex;
  flex-direction: column;
  /* height: auto; */
  /* align-items: start; */
  /* clip-path: polygon(0 0, 100% 0, 100% calc(100% - 4.2vw), 0 100%); */
  
}


.heroBannerTitle {
  font-size: 56px;
  font-weight: bold;
  margin-bottom: 0.4rem;
}

@media only screen and (max-width: 768px) {
  .heroBannerTitle {
    font-size: 40px;
  }
}

.heroBannerTitleText{
  background: linear-gradient(
    90deg,
    #69e9d9 0%,
    #1da1f2 50%,
    #b070ff 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heroBannerDescription {
  font-size: 22px;
}

@media only screen and (max-width: 786px) {
  .heroBannerDescription {
    font-size: 18px;
    white-space: normal;
  }
}


.heroSubtitle {
  font-size: 24px;
  font-weight: 300;
}
@media only screen and (max-width: 768px) {
  .heroSubtitleText {
    font-size: 18px;
  }
}



.buttons {
  display: flex;
  justify-content: start;
  width: 100%;
  height: 100%;
  align-items: start;
  gap: 12px;
  /* border-radius: 18px; */
  /* text-decoration: none !important; */
  /* font-weight: normal; */
}

/*  */
/* 

@media only screen and (max-width: 768px) {
  .heroBannerTitle b {
    font-size: 40px;
    font-weight: bold;
  }
}
.heroBannerTitle b {
  color: transparent;
  background: linear-gradient(
    90deg,
    #69e9d9 0%,
    #1da1f2 50%,
    #c061ff 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;

} */


/* subtitle */

.heroSubTitleTextHtml {
  color: var(--ifm-color-emphasis) !important;
  text-align: start;
  position: relative;
  font-size: 20px;
  /* font-weight: 400; */
}

/* 

.heroCustomSubTitleHtml b {
  color: transparent;
  background: linear-gradient(
    90deg,
    #d1ffeb 0%,
    #39b3ff 50%,
    #b070ff 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 22px;
}

@media only screen and (max-width: 768px) {
  .heroCustomSubTitleHtml {
    font-size: 20px;

  }
} */


.heroSubTitleTextHtml b {
  color: var(--ifm-color-primary);
  font-size: 20px;
}




/* 
.btnCta {
  font-size: 18px;
  font-weight: bold;
  } */

  .indexCtas {
    --ifm-button-size-multiplier: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: start;
    margin-top: 24px;
  }
  
  /* .indexCtas a, 
  .indexCtas a:hover {
    color: #161616;
  } */
  
  .indexCtas a:last-of-type {
    margin: 0 12px;
  }
  
  
/* 
.hero h1 {
  font-size: 4rem;
  padding-bottom: 1rem;
} */


.heading {
  font-weight: bold;
  font-size: 20px;
}


/* 
.heroCustomTagline {
  color: transparent;
  background: linear-gradient(90deg, #fffdd1 0%, #7ce3b1 50%, #1da1f2 100%);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 600;
  font-size: 20px;
} */


/* .heroLogo {
  animation: kit-in-the-box infinite 60s linear;
  float: right;
  height: auto;
  display: block;
  pointer-events: none;
} */

.heroLogo {
  width: auto;
  /* margin: 5px 30px; */
  height: auto;
  /* margin: 0px 0; */
  float: right;
  display: flex;
  transition: transform 0.6s;
  
  &:hover {
    transform: scale(1.2) rotate(10deg);
  }
}

/*   height: 200px;
  width: 250px;
  margin: 16px 0;
  transition: transform 0.3s;
  &:hover {
    transform: scale(1.1);
  } */


/* .heroTitleTextHtml b {
  color: transparent;
  background: linear-gradient(90deg, #1da1f2 0%, #00ff88 50%, #f6ff7f 100%);
  background-clip: text;
  font-weight: 700;
} */





/* @keyframes kit-in-the-box {
  from {
    transform: rotate(360deg) scale(1.3);
  }
  to {
    transform: rotate(-360deg) scale(1.3);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .heroBannerLogo {
    animation: kit-in-the-box infinite 60s linear;
  }
} */

