.card {
    border: 1.5px solid var(--spacehub-color-light);
    box-shadow: var(--ifm-global-shadow-tl);
    /* margin-bottom: var(--ifm-leading); */
    height: 100%;
    overflow: hidden;
    background-color: var(--spacehub-color-semidark);
}

.cardContainer {
    margin-bottom: calc(var(--ifm-spacing-horizontal) * 1);
    
}

.image {
    background: var(--spacehub-color-light);
    position: relative;
}

.role {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
}
