.card {
    border: 1.5px solid var(--ifm-color-primary);
    box-shadow: var(--ifm-global-shadow-md);
    margin-bottom: var(--ifm-leading);
    height: 100%;
    overflow: hidden;
}

.cardContainer {
    margin-bottom: calc(var(--ifm-spacing-horizontal) * 2);
}

.image {
    background: var(--ifm-color-emphasis-300);
    position: relative;
    
}

/* .role {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
} */
