/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

/* .flex-center--wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
} */

:root {
  --ifm-color-primary: #3578e5;
  --ifm-color-primary-dark: #1d68e1;
  --ifm-color-primary-darker: #1b62d4;
  --ifm-color-primary-darkest: #1751af;
  --ifm-color-primary-light: #4e89e8;
  --ifm-color-primary-lighter: #5a91ea;
  --ifm-color-primary-lightest: #80aaef;
  --ifm-site-dark: #010409;
  --site-color-feedback-background: #f0f8ff;

  --ifm-code-font-size: 90%;
  --ifm-font-size-base: 16px;
  --ifm-heading-font-weight: 600;
  --ifm-font-weight-semibold: 600;
  --ifm-link-hover-decoration: none;

  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

  /* --ifm-menu-color-active: var(--ifm-color-primary) !important; */

  /* --ifm-menu-color-background-active: var(--ifm-color-emphasis-100) !important; */

}

/* Dark theme overrides */
[data-theme='dark'] {
  --ifm-color-primary: #1da1f2;
  --ifm-color-primary-dark: #0d94e7;
  --ifm-color-primary-darker: #0d8cda;
  --ifm-color-primary-darkest: #0a73b3;
  --ifm-color-primary-light: #37acf3;
  --ifm-color-primary-lighter: #43b1f4;
  --ifm-color-primary-lightest: #6ac1f6;
  /* --ifm-background-color: #0D1118 !important; */
  /* --ifm-background-surface-color: #0D1116 !important; */
  --site-color-feedback-background: #2a2930;
  /* --ifm-background-color: var(--ifm-background-surface-color) !important; */
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);

  --ifm-background-surface-color: #0D1116 !important;
  --ifm-background-color: var(--ifm-background-surface-color) !important;

}


article p {
  font-size: 16px;
  /* font-weight: 400; */
}

article li {
  font-size: 16px;
  /* font-weight: 400; */
}

.navbar {
  background-color: var(--ifm-site-dark)!important;
  align-items: center;
}

.navbar__brand {
  margin-right: 2.0rem;
  font-size: 17px;
  font-weight: 600;
  color: #1da1f2;
  /* color: var(--ifm-color-primary-light) !important; */
}


.navbar .navbar__items {
  flex: auto;
  align-items: center;
  /* font-size: 16px; */
}


/* Header Dropdown Menu */
.dropdown__link {
  font-size: inherit;
}

.navbar__title {
  font-weight: bold;
  font-size: normal;
  /* color: var(--ifm-color-primary-lighter) !important; */
}

/* Dropdown separator styling */
.dropdown-separator {
  margin: 0.3rem 0;
}

html[data-navbar='false'] .navbar {
  display: none;
}


/* Content table container */
.contentTableContainer table {
  display: table;
  text-align: left;
  width: 100%;
  margin: 0;
}

/* Announcement Bar */

div[class^='announcementBar'][role='banner'] {
  /* border-bottom-color: var(--ifm-site-dark); */
  border-bottom-color: #242526;
}

div[class^='announcementBar_'] {
  font-weight: 650;
  font-size: 17px;
  background: #242526 !important;
  /* background: linear-gradient(80deg, #d1ffeb, #1da1f2) !important; */
  /* color: #fffdd1; */
  color: #d1ffeb;

}

div[class^='announcementBar_'] a {
  /* color: var(--ifm-site-dark) !important; */
  text-decoration: none;
  color: var(--ifm-color-primary-light) !important;
}

div[class^='announcementBar_'] a:hover {
  color: #d1ffeb !important;
}

div[class^='announcementBar_'] button {
  color: #fff !important;
}

/* div[class^='announcementBar_'] {
  font-weight: 650;

  --site-announcement-bar-stripe-color1: #00ff84;
  --site-announcement-bar-stripe-color2: #1da1f2;

  background: repeating-linear-gradient(
    35deg,
    var(--site-announcement-bar-stripe-color1),
    var(--site-announcement-bar-stripe-color1) 20px,
    var(--site-announcement-bar-stripe-color2) 10px,
    var(--site-announcement-bar-stripe-color2) 40px
  );
  font-weight: bold;
} */



.contentTableContainer th:first-child {
  width: 15%;
}

.contentTableContainer td:first-child {
  text-align: left;
}

.contentTableContainer th:last-child {
  width: 30%;
  text-align: left;
}

/* Winstore styling */
.winstore {
  width: 180px;
  border-radius: 45px;
  margin-bottom: 0rem;
}

/* Logo badge styling */
.logoBadge {
  width: 200px;
  height: 100px;
  margin-bottom: 1rem;
  margin-left: 5px;
}

/* GitHub link styling */
.header-github-link::before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background-color: var(--ifm-navbar-link-color);
  mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E");
  transition: background-color var(--ifm-transition-fast) var(--ifm-transition-timing-default);
}

.header-github-link:hover::before {
  background-color: var(--ifm-navbar-link-hover-color);
}


/* Tabs styling */
.unique-tabs .tabs__item {
  line-height: 16px;
  margin-right: 8px;
}

.unique-tabs .tabs__item--active {
  border: 0;
  color: #fff;
  border-radius: var(--ifm-global-radius);
  background-color: var(--ifm-tabs-color-active);
}


.footer--dark {
  --ifm-footer-background-color: #1e2126;
  
}

.footer {
  text-align: center;
  align-items: center;
}




/* Video container styling */
.video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 560px;
  margin: 0 auto;
}



[data-theme='light'] .DocSearch {
  /* --docsearch-primary-color: var(--ifm-color-primary); */
  /* --docsearch-text-color: var(--ifm-font-color-base); */
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: rgba(94, 100, 112, 0.7);
  /* Modal */
  --docsearch-modal-background: var(--ifm-color-secondary-lighter);
  /* Search box */
  --docsearch-searchbox-background: var(--ifm-color-secondary);
  --docsearch-searchbox-focus-background: var(--ifm-color-white);
  /* Hit */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-white);
  /* Footer */
  --docsearch-footer-background: var(--ifm-color-white);
}


[data-theme='dark'] .DocSearch {
  --docsearch-text-color: var(--ifm-font-color-base);
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: rgba(47, 55, 69, 0.7);
  /* Modal */
  --docsearch-modal-background: var(--ifm-background-color);
  /* Search box */
  --docsearch-searchbox-background: var(--ifm-background-color);
  --docsearch-searchbox-focus-background: var(--ifm-color-black);
  /* Hit */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-emphasis-100);
  /* Footer */
  --docsearch-footer-background: var(--ifm-background-surface-color);
  --docsearch-key-gradient: linear-gradient(
    -26.5deg,
    var(--ifm-color-emphasis-200) 0%,
    var(--ifm-color-emphasis-100) 100%
  );
}


/* .screen-reader-only {
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
  white-space: nowrap;
} */


div.theme-admonition.theme-admonition-tip.alert.alert--success {
  background-color: #9ccfd8;
  border-color: #56949f;
}

html[data-theme="dark"] div.theme-admonition.theme-admonition-tip {
  color: #102445;
}

html[data-theme="dark"] div.theme-admonition.theme-admonition-tip svg {
  fill: #102445;
}

html[data-theme="dark"] div.theme-admonition.theme-admonition-tip a {
  color: #102445;
}

.alert--docusaurus {
  --ifm-alert-background-color: rgba(43, 253, 71, 0.5);
  --ifm-alert-background-color-highlight: rgba(10, 133, 6, 0.15);
  --ifm-alert-foreground-color: rgb(65, 63, 63);
  --ifm-alert-border-color: #e5ff00;
}

html[data-theme='dark'] .alert--docusaurus {
  --ifm-alert-background-color: rgba(43, 253, 71, 0.5);
  --ifm-alert-background-color-highlight: rgba(10, 133, 6, 0.15);
  --ifm-alert-foreground-color: rgb(255, 255, 255);
  --ifm-alert-border-color: #e5ff00;
}

.alert--release {
  --ifm-alert-background-color: rgba(114, 137, 218, 0.5);
  --ifm-alert-background-color-highlight: rgba(84, 199, 236, 0.15);
  --ifm-alert-foreground-color: rgb(66, 69, 73);
  --ifm-alert-border-color: #5865F2;
}

html[data-theme='dark'] .alert--release {
  --ifm-alert-background-color: rgba(114, 137, 218, 0.5);
  --ifm-alert-background-color-highlight: rgba(84, 199, 236, 0.15);
  --ifm-alert-foreground-color: rgb(255, 255, 255);
  --ifm-alert-border-color: #5865F2;
}


.alert--security {
  --ifm-alert-background-color: rgba(212, 53, 28, 0.5);
  --ifm-alert-background-color-highlight: rgba(212, 53, 28, 0.15);
  --ifm-alert-foreground-color: rgb(66, 69, 73);
  --ifm-alert-border-color: #d4351c;
}

html[data-theme='dark'] .alert--security {
  --ifm-alert-background-color: rgba(212, 53, 28, 0.5);
  --ifm-alert-background-color-highlight: rgba(212, 53, 28, 0.15);
  --ifm-alert-foreground-color: rgb(255, 255, 255);
  --ifm-alert-border-color: #d4351c;
}


.alert--credit {
  --ifm-alert-background-color: rgba(181, 127, 12, 0.5);
  --ifm-alert-background-color-highlight: rgba(181, 127, 12, 0.15);
  --ifm-alert-foreground-color: rgb(66, 69, 73);
  --ifm-alert-border-color: #B57F0C;
}

html[data-theme='dark'] .alert--credit {
  --ifm-alert-background-color: rgba(181, 127, 12, 0.5);
  --ifm-alert-background-color-highlight: rgba(181, 127, 12, 0.15);
  --ifm-alert-foreground-color: rgb(255, 255, 255);
  --ifm-alert-border-color: #B57F0C;
}


.alert--discord {
  --ifm-alert-background-color: rgba(114, 137, 218, 0.5);
  --ifm-alert-background-color-highlight: rgba(84, 199, 236, 0.15);
  --ifm-alert-foreground-color: rgb(66, 69, 73);
  --ifm-alert-border-color: #5865F2;
}

html[data-theme='dark'] .alert--discord {
  --ifm-alert-background-color: rgba(114, 137, 218, 0.5);
  --ifm-alert-background-color-highlight: rgba(84, 199, 236, 0.15);
  --ifm-alert-foreground-color: rgb(255, 255, 255);
  --ifm-alert-border-color: #5865F2;
}
