.featureBrand {
  display: flex;
  align-items: center;
  padding: 4rem 0;
  width: 100%;
  /* background-color: #0d1117; */
  background-color: var(--spacehub-color-dark) !important;
  position: relative;
  /* border-bottom: 5px solid var(--spacehub-color-light); */
}

.featureBrandSvg {
  height: 180px;
  width: 200px;
}

/* .heroTitleTextHtml b {
  color: transparent;
  background: linear-gradient(90deg, #1da1f2 0%, #00ff88 50%, #f6ff7f 100%);
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: bold;
  font-size: 28px;
} */

.featuresRowCenter {
  justify-content: center;
}

