.featureBrand {
  display: flex;
  align-items: center;
  padding: 4rem 0;
  border-top: 1px solid var(--spacehub-color-purple);
  margin-top: auto;
  /* background-color: var(--ifm-site-dark) !important; */
  /* border-bottom: 2px solid var(--spacehub-color-purple); */
}

.featureTitleText {
  color: var(--spacehub-color-light);
}

.featureBrandSvg {
  height: 100px;
  width: 200px;
}

/* .heroTitleTextHtml b {
  color: transparent;
  background: linear-gradient(90deg, #1da1f2 0%, #00ff88 50%, #f6ff7f 100%);
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: bold;
  font-size: 28px;
} */

.featuresRowCenter {
  justify-content: center;
}

