.featureBrand {
  display: flex;
  align-items: center;
  padding: 4rem 0;
  /* border-top: 1px solid var(--spacehub-color-purple); */
  margin-top: auto;
  background-color: var(--spacehub-color-dark) !important;
  border-bottom: 1px solid var(--spacehub-color-purple);
}

.featureTitleText {
  color: var(--spacehub-color-light);
}

.featureBrandSvg {
  height: 100px;
  width: 200px;
}

@media (max-width: 768px) {
  .featureBrandSvg {
    height: 85px;
    width: 85px;
  }
}

/* .heroTitleTextHtml b {
  color: transparent;
  background: linear-gradient(90deg, #1da1f2 0%, #00ff88 50%, #f6ff7f 100%);
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: bold;
  font-size: 28px;
} */

.featuresRowCenter {
  justify-content: center;
}

