.card {
    border: 1.5px solid var(--ifm-color-primary);
    box-shadow: var(--ifm-global-shadow-tl);
    margin-bottom: var(--ifm-leading);
    height: 100%;
    overflow: hidden;
}

.cardContainer {
    margin-bottom: calc(var(--ifm-spacing-horizontal) * 2);
    margin-top: calc(var(--ifm-spacing-horizontal) * 1.5);
}

.image {
    /* background: var(--ifm-color-info); */
    position: relative;
    
}

.buttons {
    display: flex;
    justify-content: left;
    margin-top: auto;
    color: var(--ifm-color-primary);
  }
  