.playerContainer {
  position: relative;
  margin: 0 auto;
  width: 100%;
}

.videoElement {
  width: 100%;
  display: block;
  border-radius: 8px solid var(--spacehub-color-hover);
}

.youtubeFrame {
  width: 100%;
  aspect-ratio: 16 / 9;
  border: none;
}

.controlButton {
  position: absolute;
  bottom: 16px;
  left: 16px;
  padding: 8px 12px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

/* .controlButton:hover {
  background: rgba(0, 0, 0, 0.8);
} */
