.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  background-color: var(--ifm-site-dark);
  position: relative;
  /* overflow: hidden; */
  /* font-weight: bold;
  font-size: 20px; */
}

.featureSvg {
  height: 150px;
  width: 200px;
}