.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  background-color: var(--ifm-site-dark);
  position: relative;
  /* overflow: hidden; */
  /* font-weight: bold;
  font-size: 20px; */
}

.featureSvg {
  height: 250px;
  width: 200px;
}

.heroTitleTextHtml b {
  color: var(--ifm-color-primary-dark);
  color: transparent;
  background: linear-gradient(90deg, #1da1f2  0%, #00ff88 50%, #f6ff7f 100%);
  -webkit-background-clip: text;
  background-clip: text;
  
}
