.features {
  display: flex;
  align-items: center;
  padding: 4rem 0;
  width: 100%;
  position: relative;
  /* background-color: var(--ifm-background-surface-color) !important; */
}

.featureSvg {
  height: 100px;
  width: 100px;
}

/* .heroTitleTextHtml b {
  color: var(--ifm-color-primary);
  font-size: 20px;
} */

.featuresRowCenter {
  justify-content: center;
}