.features {
  display: flex;
  align-items: center;
  padding: 4rem 0;
  width: 100%;
  /* background-color: var(--ifm-site-dark) !important; */
}

.featureSvg {
  height: 100px;
  width: 200px;
}

.heroTitleTextHtml b {
  color: var(--ifm-color-primary);
  font-size: 20px;
}

.featuresRowCenter {
  justify-content: center;
}
