/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

 /* .projectsheroHead {
  display: flex;
  padding: 4rem 0;
  text-align: center;
  align-items: center;
  vertical-align: center;
  position: relative;
  background-color: var(--ifm-site-dark) !important; 
} */

.projectsheroBanner {
  padding: 8rem 0;
  text-align: left;
  position: relative;
  overflow: hidden;
  background-color: var(--ifm-site-dark) !important;
  /* background-color: #2b3137; */
  display: flex;
  height: auto;
  border-bottom: 2px solid var(--spacehub-dark);
  /* clip-path: polygon(0 0, 100% 0, 100% calc(100% - 4.2vw), 0 100%) !important; */
}

.projectsHeroCards {
  background-color: var(--spacehub-semidark);
}

.projectshero h1 {
  font-size: 3rem;
  padding-bottom: 1rem;
}

.projectsheroBannerTitle {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0.3rem;
  position: relative;
}

.projectsheroSubtitle {
  font-size: 22px;
  /* font-weight: normal; */
  margin-bottom: 1em;
}

.projectsheroCustomTagline {
  color: transparent;
  background: linear-gradient(90deg, #69e9d9 0%, #1da1f2 50%, #b070ff 100%);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 600;
}

/* .main {
  padding: 12px;
} */

.projectsheading {
  font-weight: bold;
  font-size: 20px;
}

.projectsheroBannerLogo {
  max-width: 34%;
  width: 22rem;
  height: 22rem;
  animation: kit-in-the-box infinite 60s linear;
  float: right;
  height: auto;
  display: block;
  pointer-events: none;
}



.buttons {
  display: flex;
  justify-content: left;
  /* width: fit-content; */
  align-items: center;
  gap: 9px;
  border-radius: 18px;
  /* text-decoration: none !important; */
  font-weight: normal;
}

.projectsheroTitleTextHtml b {
  color: transparent;
  background: linear-gradient(90deg, #69e9d9 0%, #1da1f2 50%, #b070ff 100%);
  background-clip: text;
  font-weight: 700;
  font-size: 54px;
}

.projectsheroCustomSubTitleHtml {
  font-weight: 300;
  font-size: 24px
}

.projectsheroCustomSubTitleHtml b {
  color: transparent;
  background: linear-gradient(90deg, #69e9d9 0%, #1da1f2 50%, #b070ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: 400;
}

.projectsheroSubTitleTextHtml b {
  color: var(--ifm-color-primary) !important;
  font-size: 22px;
}

@keyframes kit-in-the-box {
  from {
    transform: rotate(360deg) scale(1.3);
  }
  to {
    transform: rotate(-360deg) scale(1.3);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .projectsheroBannerLogo {
    animation: kit-in-the-box infinite 60s linear;
  }
}


