.fooHead {
    background-color: var(--ifm-site-dark) !important;
    flex-direction: column;
    /* padding: 3.6rem 0 1rem; */
}

.fooTitle {
    font-size: 54px;
    font-weight: bold;
    margin-bottom: 0.4rem;
}


.fooBody {
    /* background-color: var(--ifm-color-primary) !important; */
    background-color: var(--ifm-site-dark) !important;
    flex-direction: column;
    font-size: 20px;
    font-weight: 300;
}