
.red {
    color: rgb(255, 84, 84);
  }
  
  .red[aria-selected='true'] {
    border-bottom-color: rgb(255, 84, 84);
  }
  
  .orange {
    color: orange;
  }
  
  .orange[aria-selected='true'] {
    border-bottom-color: orange;
  }
  
  .yellow {
    color: rgb(255, 255, 106);
  }
  
  .yellow[aria-selected='true'] {
    border-bottom-color: yellow;
  }

  .green {
    color: rgb(41, 239, 41);
  }

  .green[aria-selected='true'] {
    border-bottom-color: rgb(41, 239, 41);
  }