.learnHead {
    background-color: var(--ifm-site-dark) !important;
    flex-direction: column;
    padding: 8rem 0;
}

.learnTitle {
    font-size: 60px;
    font-weight: 600;
}

.learnTitle b {
  color: transparent;
  background: linear-gradient(-90deg, #69e9d9 0%, #1da1f2 50%, #b070ff 100%);
  background-clip: text;
  font-weight: 700;
}


.learnBody {
    background-color: var(--ifm-site-dark) !important;
    font-size: 28px;
    font-weight: 300;
}

@media (max-width: 768px) {
  .learnBody {
    font-size: 26px;
    white-space: normal;
  }
}


  
/* Call-to-Action Buttons */
.indexCtas {
  --ifm-button-size-multiplier: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 24px;
}

.indexCtas a,
.indexCtas a:hover {
  background-color: var(--ifm-site-dark) !important;
  color: #ffffff !important;
  border: 2px solid #b070ff;
  transition: background-color 0.3s;
  border-radius: 12px;
  padding: 0.5rem 1.5rem;
}

.indexCtas a:last-of-type {
  margin: 0 0.75rem;
}

.indexCtas a:hover {
  background-color: #000 !important;
}