# https://github.com/marketplace/actions/dependency-review#installation

name: Dependency Review

on: [pull_request]

permissions:
  contents: read

jobs:
  dependency-review:
    name: Dependency Review
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2
        
      - name: Dependency Review
        uses: actions/dependency-review-action@v4.6.0
    
        with:
          fail-on-severity: critical
          show-openssf-scorecard: true
          warn-on-openssf-scorecard-level: 3
